<body>
  <header class="cabecalho">
    <img src="bancointernacional.png" alt="International Bank" class="logo" style="height: 100px; margin-right: 20px;">
    <h1 class="cabecalho__conteudo">Simular CDB</h1>
  </header>

  <div class="investimentos-container">
    <h2>Simulador de Investimentos</h2>

    <form class="simulador-form" (submit)="calcularRendimento(); $event.preventDefault()">
      <div class="form-group">
        <label for="aporteMensal">Valor de Aporte Mensal</label>
        <input
          type="number"
          id="aporteMensal"
          [(ngModel)]="aporteMensal"
          name="aporteMensal"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="dataResgate">Data Estimada de Resgate</label>
        <input
          type="date"
          id="dataResgate"
          [(ngModel)]="dataResgate"
          name="dataResgate"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    <div *ngIf="valorFinal !== null" class="resultado">
      <h3>Valor Estimado do Rendimento: R$ {{ valorFinal | number: '1.2-2' }}</h3>
    </div>
    
    <!-- Botão para voltar -->
    <button class="btn-voltar">Voltar</button>
  </div>
</body>
