body {
  background-color: #F5F5F5;
  font-family: "Arial", sans-serif;
}

.cabecalho {
  font-family: "Arial", sans-serif;
  height: 130px;
  color: white;
  background-color: #004aad; /* Cor consistente com a tela inicial */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.cabecalho__conteudo {
  font-size: 36px;
  font-weight: bold;
}

.logo {
  height: 100px; /* Ajuste o tamanho conforme necessário */
  margin-right: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h2 {
  font-size: 28px;
  color: #004aad; /* Cor consistente */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #004aad; /* Cor consistente com os botões das outras telas */
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049; /* Efeito de hover para o botão */
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.btn-voltar {
  background-color: #ddd;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btn-voltar:hover {
  background-color: #ccc;
}
