body {
    background-color: #f5f5f5;
    font-family: "Arial", sans-serif;
}

.cabecalho {
    font-family: "Oswald", sans-serif;
    height: 130px;
    color: white;
    background-color: #008236;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.cabecalho__conteudo {
    font-size: 36px;
    font-weight: bold;
}

.container {
    max-width: 600px; /* Aumenta o tamanho para manter a consistência com outras telas */
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#tela1 {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.ola {
    font-size: 24px;
    color: #333;
}

#centro {
    text-align: center;
}

.text-verde { /* Corrigido o nome da classe */
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 12px; /* Botão com padding maior */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px; /* Ajuste do tamanho da fonte do botão */
}

.btn-login:hover {
    background-color: #45a049;
}
