<div class="container">
  <div id="tela1">
      <img src="sicredi.png" alt="Sicredi" class="logo">
      <div class="ola">Olá, Associado!</div>
  </div>

  <div id="centro">
      <p class="text#4CAF50 font-bold mb-3">Informe suas credenciais de acesso</p>
      <table>
          <tr>
              <td>CPF/CNPJ:</td>
              <td>
                  <input type="text" id="cpf-cnpj" class="input-text">
              </td>
          </tr>
          <tr>
              <td>Senha:</td>
              <td>
                  <input type="password" id="senha" class="input-text">
              </td>
          </tr>
          <tr>
              <td colspan="2">
                  <button class="btn-login" (click)="fazerLogin()">Entrar</button>
              </td>
          </tr>
      </table>
  </div>

</div>
