<div id="tela2">
    <div class="header-container">
        <div class="menu-icon">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <img src="siperdi.png" alt="Sicredi" class="logo">
        <div class="notificacao">
            <span class="bell">&#128276;</span>
        </div>
    </div>
    <div class="usuario">
        <span class="nome">Olá, LITIÉL</span>
        <span class="user-welcome"><br>Bem-vindo ao Sicredi</span>
    </div>

    <div class="opcoes">
        <div class="option-card">
            <img src="saldo.png" alt="Saldo" class="option-icon">
            <span class="option-label">Saldo</span>
        </div>
        <div class="option-card">
            <img src="cartoes.png" alt="Cartões" class="option-icon">
            <span class="option-label">Cartões</span>
        </div>
        <div class="option-card">
            <img src="investimentos.png" alt="Investimentos" class="option-icon">
            <span class="option-label">Investimentos</span>
        </div>
        <div class="option-card">
            <img src="credito.png" alt="Crédito" class="option-icon">
            <span class="option-label">Crédito</span>
        </div>
    </div>

    <div class="acoes">
        <h2>Eu quero...</h2>
        <ul>
            <li><a href="#">
                <img src="pix.png" alt="Pix" class="pix-icon">
                <button class="fazerumpix" (click)="fazerumpix()">Fazer um Pix</button>
            </a></li>
            <li><a href="#">
                <img src="conta.png" alt="Pagar Conta" class="pix-icon">
                <button class="receberumpix" (click)="receberumpix()"> Pagar uma conta</button>
            </a></li>
        </ul>
    </div>

    <div class="botaocdb">
        <li><a href="#">
            <img src="investimentos.png" alt="Investimentos" class="pix-icon">
            <button class="Investimentos" (click)="simularCdb()">Simular CDB</button>
        </a></li>
    </div>

    <div class="botaosimulacao">

        <button class="simulacao"(click)="navegarParaSimulador()"> Simular Financiamento</button>
    
    </div>
    
